<footer>
    <div class="logo">
        <img class="mundo-f" src="/img/travelling_2060521.png" alt="logo avion sobre globo terrestre">
        <h3>SmartDate</h3>
    </div>
    <div class="legal">
        <a href="#">Cookies</a>
        <a href="#">Avisos Legales</a>
        <a href="#">Privacidad</a>
    </div>
</footer>
<script src="/js/myapp.js"></script>