main{
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.log{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 2rem 1rem;
}

.log a{
    text-decoration: none;
    background-color: rgb(110, 110, 110);
    color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.log a:hover{
    background-color: rgb(65, 65, 65);
}

div.opciones{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

div.opciones a{
    text-decoration: none;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
}

@media screen and (max-width: 400px){
    div.opciones{
        width: 100%;
    }
}